<br/>
<div ng-controller="waterTemperatureController">
	<div class="row">
			<div class="col-sm-2">
				<p style="font-size:19px">Select sensor hub</p>
			</div>
			<div class="col-sm-3">
		      <select class="form-control" ng-change="getWaterTemperatureData(sensorHub,'Water Temperature')" ng-model="sensorHub">
		        <option ng-repeat="sensorHub in sensorHubs" ng-model="sensorHub.sensorHubName">{{sensorHub.sensorHubName}}</option>
		       </select>
	       </div>
	    </div>
<br/>
	<div class="row">
		<div class="col-sm-9">
			<table class="table table-bordered" style="width:700px;height:100%;">
				<thead><tr class="active"><th>Water Temperature on {{date}}</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="barChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
		<div class="col-sm-3">
			<a>
				<div class="col-lg-3 col-md-6">
			        <div class="panel panel-green" style="width:200px">
			            <div class="panel-heading" style="width:200px">
			                <div class="row">
			                    <div class="col-xs-3">
			                    	Minimum Water Level
			                    </div>
			                    <div class="col-xs-9 text-right">
			                       <div class="huge">{{minimum}}</div>
			                    </div>
			                </div>
			            </div>
			            <a href="#">
                            <div class="panel-footer" style="width:200px">
                                <span class="pull-left">{{minimum}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
			        </div>
			    </div>
		    </a>
		</div>
		<div class="col-sm-3">
			<a>
				<div class="col-lg-3 col-md-6">
			        <div class="panel panel-green" style="width:200px">
			            <div class="panel-heading" style="width:200px">
			                <div class="row">
			                    <div class="col-xs-3">
			                    	Maximum Water Level
			                    </div>
			                    <div class="col-xs-9 text-right">
			                       <div class="huge">{{maximum}}</div>
			                    </div>
			                </div>
			            </div>
			            <a href="#">
                            <div class="panel-footer" style="width:200px">
                                <span class="pull-left">{{maximum}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
			        </div>
			    </div>
		    </a>
		</div>
	</div>
	<div class="row">
	<div class="span12">
		<div class="well">
				<ng-map default-style="true" center="41,-87" zoom="5" >
					<marker id='{{shop.id}}' position="{{shop.position}}" centered="true"
						ng-repeat="shop in vm.shops"
						on-click="vm.showDetail(shop)">
					</marker>

					<info-window id="foo-iw">
						<div ng-non-bindable="">
							sensor: {{vm.shop.id}}<br/>
							name: {{vm.shop.name}}<br/>
							source: {{vm.shop.source}}<br/>
							position: {{vm.map.markers[vm.shop.id].getPosition()}}<br/>
							<!-- <a href="#" ng-click="vm.clicked()">Click Here</a> -->
						</div>
					</info-window>
				</ng-map>
		</div>
	</div>
</div>
</div>
